In [12]:
!pip install pandas sqlalchemy

Requirement already satisfied: pandas in c:\users\yan zhang\appdata\roaming\python\python310\site-packages (2.1.0)
Requirement already satisfied: sqlalchemy in c:\users\yan zhang\anaconda3\lib\site-packages (2.0.20)
Requirement already satisfied: numpy>=1.22.4 in c:\users\yan zhang\appdata\roaming\python\python310\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yan zhang\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yan zhang\appdata\roaming\python\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\yan zhang\appdata\roaming\python\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\yan zhang\anaconda3\lib\site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yan zhang\anaconda3\lib\site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: six>=1.5 in c:\users\yan zhang\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

DEPRECATION: nb-black 1.0.7 has a non-standard dependency specifier black>='19.3'; python_version >= "3.6". pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of nb-black or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [15]:
import pandas as pd
import sqlite3

In [60]:
# Create the connection
cnx = sqlite3.connect(r'C:\Users\Yan Zhang\Desktop\19.3 country club study\SQLFiles Tier 2\countryclubs.db')

query1: Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [75]:
query1="""\
SELECT * FROM
(
    SELECT
        f.name,
        (
            SELECT
                SUM((CASE WHEN b.memid=0 THEN f.guestcost ELSE f.membercost END)*b.slots) as cost
            FROM Bookings AS b 
            WHERE b.facid = f.facid
        ) as revenue
    FROM Facilities AS f
    GROUP BY f.facid
) AS sub
WHERE sub.revenue < 1000
ORDER BY sub.revenue;"""

In [76]:
#query1 for question 10
df1 = pd.read_sql_query(query1, cnx)
print(df1.head())

            name  revenue
0   Table Tennis      180
1  Snooker Table      240
2     Pool Table      270

query2 for Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [73]:
query2="""\
SELECT m.memid, m.firstname,m.surname, m.recommendedby, r.firstname,r.surname
FROM Members AS m
LEFT JOIN Members AS r ON m.recommendedby = r.memid
WHERE m.recommendedby !=0 AND m.recommendedby != ''
ORDER BY r.surname,r.firstname;"""

In [74]:
#query2 for question 11
df2 = pd.read_sql_query(query2, cnx)
print(df2)

    memid  firstname            surname recommendedby  firstname   surname
0      24  Ramnaresh             Sarwin            15   Florence     Bader
1      22       Joan             Coplin            16    Timothy     Baker
2      20    Matthew            Genting             5     Gerald   Butters
3      16    Timothy              Baker            13     Jemima   Farrell
4      17      David             Pinker            13     Jemima   Farrell
5      27  Henrietta             Rumney            20    Matthew   Genting
6      26    Douglas              Jones            11      David     Jones
7       7      Nancy               Dare             4     Janice  Joplette
8      11      David              Jones             4     Janice  Joplette
9      35       John               Hunt            30  Millicent   Purview
10      8        Tim             Boothe             3        Tim    Rownam
11      4     Janice           Joplette             1     Darren     Smith
12      5     Gerald            Butters             1     Darren     Smith
13     10    Charles               Owen             1     Darren     Smith
14     14       Jack              Smith             1     Darren     Smith
15     21       Anna          Mackenzie             1     Darren     Smith
16     29      Henry  Worthington-Smyth             2      Tracy     Smith
17     30  Millicent            Purview             2      Tracy     Smith
18     36      Erica            Crumpet             2      Tracy     Smith
19     12       Anne              Baker             9     Ponder  Stibbons
20     15   Florence              Bader             9     Ponder  Stibbons
21      9     Ponder           Stibbons             6     Burton     Tracy

/* Q12: Find the facilities with their usage by member, but not guests */

In [65]:
query3="""\
SELECT sub.facid, f.name, COUNT(sub.memid) AS facilityUsage
FROM (
    SELECT facid, memid
    FROM Bookings 
    WHERE memid !=0
    ) AS sub
LEFT JOIN Facilities AS f ON sub.facid = f.facid
GROUP BY sub.facid;"""

In [66]:
#query3 for question 12
df3 = pd.read_sql_query(query3, cnx)
print(df3)

   facid             name  facilityUsage
0      0   Tennis Court 1            308
1      1   Tennis Court 2            276
2      2  Badminton Court            344
3      3     Table Tennis            385
4      4   Massage Room 1            421
5      5   Massage Room 2             27
6      6     Squash Court            195
7      7    Snooker Table            421
8      8       Pool Table            783

/* Q13: Find the facilities usage by month, but not guests */

In [71]:
query4= """\
SELECT s.facid, COUNT(s.memid) as month_usage, s.month AS month
FROM (
    SELECT facid,memid, strftime('%m', starttime) AS month
    FROM Bookings 
    WHERE memid !=0
    ) AS s
GROUP BY s.facid, s.month;"""

In [72]:
#query4 for question 13
df4 = pd.read_sql_query(query4, cnx)
print(df4)

    facid  month_usage month
0       0           65    07
1       0          111    08
2       0          132    09
3       1           41    07
4       1          109    08
5       1          126    09
6       2           51    07
7       2          132    08
8       2          161    09
9       3           48    07
10      3          143    08
11      3          194    09
12      4           77    07
13      4          153    08
14      4          191    09
15      5            4    07
16      5            9    08
17      5           14    09
18      6           23    07
19      6           85    08
20      6           87    09
21      7           68    07
22      7          154    08
23      7          199    09
24      8          103    07
25      8          272    08
26      8          408    09